In [1]:
import pandas as pd
import numpy as np

In [9]:
dataframe1 = pd.read_csv('C:/Users/Самат/Desktop/ИТИС/3 курс/Анализ данных/Data analysis (Python)/01. Pandas, Dataframes/Dataset2.csv')

In [10]:
dataframe1.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,Montvila Rev. Juozas,male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,Graham Miss. Margaret Edith,female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,Johnston Miss. Catherine Helen Carrie,female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,Behr Mr. Karl Howell,male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,Dooley Mr. Patrick,male,32.0,0,0,370376,7.75,NaN,Q

In [11]:
dataframe1.groupby('Sex').count()['PassengerId']

Sex
female    314
male      577
Name: PassengerId, dtype: int64

In [12]:
male_count = dataframe1.groupby('Sex').count()['PassengerId'].values[1]
female_count = dataframe1.groupby('Sex').count()['PassengerId'].values[0]
print(male_count, female_count)

577 314